.home {
    text-align: center;
    padding: 20px;
  }
  
  .content {
    margin-top: 20px;
    font-size: 1.2em;
  }

  .footer-wrapper{
    margin-top: 30vh !important;
    width: 100% !important;
  }